<a href="https://colab.research.google.com/github/Marcaoandradenogueira/DataScience/blob/master/Relat%C3%B3rio_de_An%C3%A1lise_l.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relatório de Análise l

##Importando a Base de Dados

In [0]:
import pandas as pd

In [0]:
dados = pd.read_csv("aluguel.csv", sep= ";")

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [11]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

##Informações Geiras sobre a Base de Dados

In [12]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [0]:
tipo_de_dados = pd.DataFrame(dados.dtypes, columns = ["Tipo de Dados"])

In [0]:
tipo_de_dados.columns.name = "Variáveis"

In [20]:
dados.shape

(32960, 9)

In [25]:
print("A base de dados apresenta {} registros (imóveis) = {} variáveis".format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) = 9 variáveis