In [5]:
import pandas as pd

In [7]:
dados = pd.read_csv("Dados/aluguel.csv", sep =';' )
dados.sample(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
20492,Apartamento,Méier,3,1,1,100,1950.0,87.0,NaN
6014,Apartamento,Ipanema,2,2,1,170,9500.0,1400.0,355.0
14615,Apartamento,Jacarepaguá,2,1,1,82,2300.0,800.0,153.0
16161,Conjunto Comercial/Sala,Centro,0,0,0,212,15000.0,6313.0,981.0
28177,Apartamento,Laranjeiras,3,1,0,100,2800.0,1400.0,250.0
5139,Apartamento,Tijuca,3,0,0,100,2200.0,600.0,NaN
23613,Flat,Ipanema,2,1,2,85,8500.0,NaN,NaN
23639,Apartamento,Laranjeiras,1,1,0,41,1500.0,740.0,24.0
16094,Apartamento,Recreio dos Bandeirantes,2,1,2,74,2500.0,1350.0,126.0
2389,Apartamento,Leblon,4,2,1,170,11000.0,2700.0,570.0

In [8]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais

In [9]:
classes = [0,2,4,6,100]

In [11]:
quarto = pd.cut(dados['Quartos'], classes)

In [12]:
pd.value_counts(quarto)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Quartos, dtype: int64

In [13]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [14]:
quartos = pd.cut(dados['Quartos'], classes , labels = labels)

In [16]:
pd.value_counts(quartos)

1 e 2 quartos        12419
3 e 4 quartos         9894
5 e 6 quartos          709
7 quartos ou mais       87
Name: Quartos, dtype: int64

In [17]:
quartos = pd.cut(dados['Quartos'], classes , labels = labels, include_lowest = True)

In [19]:
quartos.value_counts()

1 e 2 quartos        22270
3 e 4 quartos         9894
5 e 6 quartos          709
7 quartos ou mais       87
Name: Quartos, dtype: int64